//====================================================================================================
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	transition: all 0.3s ease 0s;

	&._header-scroll {
		background-color: rgba($white, 0.8);
	}

		&__container {
			display: flex;
			align-items: center;
			gap: rem(10);
			@include adaptiveValue("min-height", 236, 80);
			transition: all 0.3s ease 0s; 

			._header-scroll & {
				min-height: rem(80);
		}

			@media (max-width: $mobile) {
				gap: rem(30);
			}
		}

		&__logo {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 0 0 rem(62);
			width: rem(62);
			height: rem(62);
			font-size: rem(24);
			font-weight: 600;
			text-transform: uppercase;
			color: rgba($indigo, 0.7);
			background-color: $logo-color;
			border-radius: 50%;
			transform: rotate(30deg);
			z-index: 2;
		}
}

.navigation {
	display: flex;
	align-items: center;
	flex: 1 1 auto;
	justify-content: flex-end;
	@include adaptiveValue("gap", 80, 20);

		&__lists {
			display: flex;
			padding: 0 0 0 rem(5);

			@media (max-width: $mobile) {
				position: fixed;
				flex-direction: column;
				align-items: center;
				gap: rem(20);
				@include adaptiveValue("padding-top", 280, 120);
				padding: 0 rem(15) rem(30);
				width: 100%;
				height: 100%;
				left: -100%;
				top: 0;
				background-color: $gray500;
				overflow: auto;
				transition: left 0.3s ease 0s;

				._header-scroll & {
					padding-top: rem(120);
				}
				
				&::before {
					content: "";
					position: fixed;
					width: 100%;
					top: 0;
					left: -100%;
					@include adaptiveValue("min-height", 236, 80);
					background-color: $gray100;
					transition: left 0.3s ease 0s;

					._header-scroll & {
						min-height: rem(80);
					}
				}

				.menu-open & {
					left: 0;
					&::before {
						left: 0;
					}
				}
			}
		}

		&__list {

			@media (min-width: $mobile) {
				&:not(:last-child) {
					// @include adaptiveValue("margin-right", 80, 10);
					margin-right: rem(80);
				}
			}
		}

		&__link {
			position: relative;
			font-weight: 500;
			line-height: 1.56;

			&::before {
				position: absolute;
				content: "";
				width: 0;
				height: 2px;
				bottom: rem(-4);
				left: 50%;
				border-radius: 2px;
				background-color: $mainColor;
        transition: width 0.3s, left 0.3s;
			}

			@media (max-width: $mobile) {
				font-size: rem(30);
			}

			@media (any-hover: hover) {
				&:hover::before{
					width: 100%;
					left: 0;
				}
			}
			
		}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

