//====================================================================================================

// [class*="__container"] {
//   outline: 2px solid rgb(210, 16, 136);
// }

//====================================================================================================


.main-page {
  @include adaptiveValue("padding-top", 340, 110);
  @include adaptiveValue("padding-bottom", 75, 30);
  
  &__container {

    @media (min-width: em(768)) {
      display: flex;
      align-items: center;
    }
  }
  
  &__content {
    // align-self: center;
    flex: 1 1 auto;
    
    @media (min-width: em(768)) {
        @include adaptiveValue("margin-right", 100, 20);
      }

      @media (max-width: $mobile) {
        &:not(:last-child) {
          margin-bottom: rem(20);
        }
      }
		}

		&__picture {
      // align-self: end;
      flex: 0 0 40.508475%; /* 478/1180 */

      & img {
        max-width: 100%;
      }
		}
}
.content-main {
    display: grid;
    @include adaptiveValue("gap", 40, 20);

		&__name {
      display: flex;
      align-items: center;
      gap: rem(10);
      font-size: rem(20);
      font-weight: 500;
      text-transform: capitalize;
      line-height: 1.4; /* 28/20 */
      color: $indigo;

      &::before {
        content: "";
        flex: 0 0 rem(102);
        height: rem(2);
        background-color: $indigo;
      }

      @media (max-width: $mobile) {
        justify-content: center;
        
        &::before {
          flex: 0 0 rem(30);
        }

        &::after {
          content: "";
          flex: 0 0 rem(30);
          height: rem(2);
          background-color: $indigo;
        }
      }
		}

		&__title {
      @include adaptiveValue("font-size", 72, 32);
      font-weight: 700;
      text-align: start;
		}

		&__box-text {
      @include adaptiveValue("font-size", 18, 20);
      line-height: 1.4; /* 28/20 */
		}

		&__buttons {
      display: flex;
      flex-wrap: wrap;
      gap: rem(20);
		}

    &__button {
      text-align: center;

      @media (max-width: $mobile) {
        flex: 1 1 auto;
      }
    }

		&__requisition {
      padding-top: rem(20);
      font-size: rem(12);
      line-height: 1.3; /* 16/12 */
      border-top: 1px solid rgba($mainColor, 0.7);
		}
}


// projects=========================


.projects {
  @include adaptiveValue("padding-top", 75, 30);
  @include adaptiveValue("padding-bottom", 75, 30);

		&__container {
		}

		&__title {
      margin: 0 auto;
      max-width: rem(1040);
      @include adaptiveValue("font-size", 48, 32);

      & span {
        color: $indigo;
      }

      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 150, 50);
        
      }
		}

		&__block {
		}
}

.block-projects {
  display: flex;
  align-items: center;

  @media (max-width: $mobile) {
    flex-direction: column-reverse;
    }

		&__picture {
      flex: 0 0 37.288136%; /* 440/1180 */

      & img {
        max-width: 100%;
      }
		}

		&__lists {
      flex: 1 1 auto;
      @include adaptiveValue("padding", 50, 20);
      
      @media (min-width: em(425)) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include adaptiveValue("grid-gap", 68, 20);

      }
		}

		&__list {
		}

		&__cart {
		}
}
.cart-project {
  display: flex;
  flex-direction: column;
  height: 100%;
  @include adaptiveValue("gap", 20, 10);
  font-size: rem(12);
  line-height: 1.33;

		&__title {
      // @include adaptiveValue("line-height", 1.56, 1);
      line-height: 1.56;
      font-weight: 600;
      color: $gray500;
		}

		&__text {
      flex-grow: 1;
		}

		&__link {
      display: inline-flex;
      align-items: center;
      gap: rem(5);
      color: $indigo;
      text-transform: capitalize;
      font-weight: 500;

      &::after {
        content: "";
        background: url(../img/icon/arrow.svg) 0 0/ 100% no-repeat;
        flex: 0 0 rem(12);
        width: rem(12);
        height: rem(12);

      }
		}
}

// brands======================================


.brands {
  @include adaptiveValue("padding-top", 100, 30);
  @include adaptiveValue("padding-bottom", 100, 30);
  background-color: $ivory;
		&__container {
		}

		&__title {
      font-size: rem(20);
      line-height: 1.4;
      color: $gray200;
      margin-bottom: rem(20);
		}

		&__items {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
      grid-gap: rem(25);
		}

		&__item {
      & img {
        max-width: 100%;
      }
		}
}


// gallery=====================================

.gallery {
    @include adaptiveValue("padding-top", 75, 30);
    @include adaptiveValue("padding-bottom", 75, 30);

		&__container {
		}

		&__title {
      max-width: rem(1040);
      margin: 0 auto;

      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 150, 40);
      }
		}

		&__items {
      display: grid;
      grid-gap: rem(30);
      
      @media (min-width: $mobile) {
        grid-template-columns: repeat(2, 1fr);
      }
		}

		&__item {
		}

    &__item--row-2 {
      grid-row: span 2;
      
    }

    &__item--colum-2 {

      @media (min-width: $mobile) {
        grid-column: span 2;

        & .link-gallery__picture-ibg {
          padding-bottom: 33.898305%; /* 400/1180 */
        }
      }

    }

		&__link {
		}
}

.link-gallery {
  position: relative;

  @media (any-hover: hover) {
			&:hover {
        .link-gallery__wrap {
          opacity: 1;
          visibility: visible;
        }
      }
		}
  
  &__picture-ibg {
    padding-bottom: 74.83871%; /* 464/620 */
    height: 100%;

    & img {
      
    }
  }

  &__wrap {
    position: absolute;
    @include adaptiveValue("padding", 20, 10);
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;

    .touch & {
      visibility: visible;
      opacity: 1;
    }
  }
  
  &__body {
    position: relative;
    padding: rem(23) rem(57) rem(23) rem(27);
    background-color: $white;

    &::after {
      position: absolute;
      content: "";
      width: rem(30);
      height: rem(30);
      background: url(../img/icon/arrow-black.svg) 0 0/ 100% no-repeat;
      top: 50%;
      right: rem(25);
      transform: translate(0, -50%);
    }
	}

	&__title {
    line-height: 1.55;
    font-weight: 500;
    color: $gray500;
	}

	&__profession {
    font-family: rem(14);
    line-height: 1.4;
    font-weight: 500;
	}
}


// planning==================================

.planning {
  @include adaptiveValue("padding-top", 75, 30);
  @include adaptiveValue("padding-bottom", 75, 30);

		&__container {
		}

		&__items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
      @include adaptiveValue("grid-gap", 80, 30);
		}

		&__item {
      text-align: center;
		}

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: rem(140);
      height: rem(140);
      background-color: $gray100;
      border-radius: rem(6);

      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 40, 20);
      }
    }

		&__title {
      font-size: rem(30);
      font-weight: 600;
      line-height: 1.2;
      color: $gray500;

      &:not(:last-child) {
        margin-bottom: rem(20);
      }
		}

		&__text {
      padding-left: rem(10);
      padding-right: rem(10);
      line-height: 1.55;
		}
}

// careers===================================

.careers {
  @include adaptiveValue("padding-top", 75, 30);
  @include adaptiveValue("padding-bottom", 75, 30);
		&__container {
		}

		&__title {
		}

		&__table {
		}
}

.table {
  text-align: left;

  @media (max-width: $mobile) {
    overflow: auto;
  }

		&__items {
      width: 100%;
      min-width: rem(750);
      border-collapse: collapse;
		}

		&__row {
      &:not(:last-child) {
        .table__title,
        .table__cell {
          @include adaptiveValue("padding-bottom", 80, 30);
        }
      }
		}

		&__title {
      font-size: rem(16);
      font-weight: 500;
      line-height: 1.5;
      text-transform: uppercase;

      &:not(:last-child) {
        padding: rem(15);
      }
		}
    
    &__cell {
      line-height: 1.5;

      &:not(:last-child) {
        padding-right: rem(15);
      }
      & span {
        font-weight: 600;
        color: $gray500;
      }
    }
}


